@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-primary: #000;
  --background-color-primary: #fff;
  --font-size-primary: 8px;
  --lang-selector-gap: 16px;
  --brand-logo-width-large: 160px;
}

@media (min-width: 360px) {
  :root {
    --font-size-primary: 16px;
    --lang-selector-gap: 32px;
    --brand-logo-width-large: 320px;
  }

  .page-container.home .header .lang {
  }
}

@media (min-width: 540px) {
  :root {
    --font-size-primary: 24px;
    --lang-selector-gap: 48px;
    --brand-logo-width-large: 480px;
  }
}

@media (min-width: 820px) {
  :root {
    --font-size-primary: 32px;
    --lang-selector-gap: 64px;
    --brand-logo-width-large: 640px;
  }
}

.rye {
  --color-primary: #d8c3a5;
  --background-color-primary: #3e2c1c;
}

.wheat {
  --color-primary: #5b4636;
  --background-color-primary: #f4ecd8;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: var(--font-size-primary);
  color: var(--color-primary);
  background-color: var(--background-color-primary);
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-container .header .lang {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: var(--lang-selector-gap);
}

.page-container .header .lang a {
  color: var(--color-primary);
  text-decoration: none;
  position: relative;
}

.page-container.home .header {
  margin: auto 0 0 0;
  padding-bottom: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container.home .header .brand-logo svg {
  display: block;
  width: var(--brand-logo-width-large);
  height: auto;
}
